.title {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: 1px 2px 2px #766e6e;
    text-align: center;
    font-size: 24px;
    color: #616161;
}